html
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    body
        .container
            h1=title
            form(action="users/login", method='post',name='form1', onsubmit="return validateForm(this.name)")
                .form-group
                label(for="username") Username: 
                input(type="text", name="username", class='form-control', required)
                div
                    p(id='form1username', class='text-danger')
                .form-group
                label(for="password") Password: 
                input(type="password", name="password", class='form-control', required)
                div
                    p(id='form1password', class='text-danger')
                input(type="submit", value="Submit" class='btn btn-success mr-3')
                input(type="reset", value="Reset" class='btn btn-warning')
