#noty-holder{    
    width: 100%;    
    top: 0;
    font-weight: bold;    
    z-index: 1031; /* Max Z-Index in Fixed Nav Menu is 1030*/
    text-align: center;
    position: fixed;
}

.alert{
    margin-top: 10%px;
    position: fixed;
    border-radius: 0px;
    z-index:2;
}
