.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  margin-top: -50px;
  left: 0;
  background-color: #1d1f22; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 85px;
  padding-left: 20px
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #ade3eb;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
  text-decoration: #fff;
}

/* Style page content */
.main {
  margin-left: 200px; /* Same as the width of the sidebar */
  margin-top: 80px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 105px;}
  .sidenav a {font-size: 18px;}
  .main{ margin-top: 100px; }
}